a {
    color:deepskyblue;
    text-decoration:none;  
    font-size:60px;  
}
h1 {
    font-size:60px;
    text-align:center;
    border-bottom:gray 3px solid;
    margin:0;
    padding:20px;
}
ul {
    border-right:gray 3px solid;
    list-style:none;    
    width:260px;
    margin:0;
    padding:20px;
}
li {
    padding:20px;
}
#grid {
    display:grid;
    grid-template-columns:350px 1fr;
}
@media(max-width:650px) {
    #grid {
        display:block;
    }
    ul {
        border-right:none;
    }
    h1 {
        border-bottom:none; 
    }
}